body {
  background-color: #f3f4f5;
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #D1D1D1; 
}

#About Me {
  background-color: #f3f4f5;
}

#Hobby {
  background-color: #f3f4f5;

}

.section {
  padding-top: 5rem;

}


/*untuk layar device berukuran kecil*/
@media screen and (max-width: 450px) {}


/*untuk layar device berukuran sedang*/
@media screen and (max-width: 575px) {
    .skills-custom img {
        width: 130%;
    }

    .footer-custom img {
        width: 250%;
    }
 }
  
 /*untuk layar device berukuran besar*/
 @media screen and (min-width: 800px) {
     .skills-custom img {
         width: 70%;
    }

    .footer-custom img {
        width: 80%;
    }
 }